 .header {
  background: var(--cydark);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}

.header a h1 {
  text-align: center;
  color: var(--highdark);
  text-decoration: underline;
  text-shadow: 2px 2px 4px var(--secondary);
}

.header a h1:hover {
  color: var(--highmid);
  text-shadow: 2px 2px 4px var(--white);
}